---

# for clang-tidy-18

Checks:
  - -*
  # clang diagnstic and analyzer
  - clang-diagnostic-*
  - clang-analyzer-*
  - -clang-analyzer-deadcode.DeadStores
  # abseil, altera, android, boost are disabled completely
  # bugprone
  - bugprone-*
  - -bugprone-argument-comment
  - -bugprone-exception-escape
  - -bugprone-implicit-widening-of-multiplication-result
  - -bugprone-macro-parentheses
  - -bugprone-unchecked-optional-access
  # cert
  - cert-*
  # concurrenty disabled completely
  # cppcoreguidelines
  - cppcoreguidelines-*
  - -cppcoreguidelines-owning-memory
  # darwin, fuchsia disabled completely
  # google
  - google-*
  - -google-objc-*
  - -google-readability-todo
  # hicpp
  - hicpp-*
  # linuxkernel disabled completely
  # llvm (only this one)
  - llvm-namespace-comment
  # misc
  - misc-*
  # modernize
  - modernize-*
  - -modernize-use-trailing-return-type
  - -modernize-replace-disallow-copy-and-assign-macro
  # mpi, objc, openmp disabled completely
  # performance
  - performance-*
  # portability
  - portability-*
  # readability
  - readability-*
  - -readability-avoid-nested-conditional-operator
  - -readability-function-cognitive-complexity
  - -readability-static-accessed-through-instance
  - -readability-uppercase-literal-suffix
  # zircon disabled completely
  # Deactivate Aliases (only activate canonical names)
  - -cert-arr39-c
  - -cert-con36-c
  - -cert-con54-cpp
  - -cert-ctr56-cpp
  - -cert-dcl03-c
  - -cert-dcl16-c
  - -cert-dcl37-c
  # - -cert-dcl50-cpp # not an alias with clang-tidy-18 yet
  - -cert-dcl51-cpp
  - -cert-dcl54-cpp
  # - -cert-dcl58-cpp # not an alias with clang-tidy-18 yet
  - -cert-dcl59-cpp
  # - -cert-env33-c # not an alias with clang-tidy-18 yet
  - -cert-err09-cpp
  # - -cert-err34-c # not an alias with clang-tidy-18 yet
  # - -cert-err52-cpp # not an alias with clang-tidy-18 yet
  # - -cert-err58-cpp # not an alias with clang-tidy-18 yet
  # - -cert-err60-cpp # not an alias with clang-tidy-18 yet
  - -cert-err61-cpp
  - -cert-exp42-c
  - -cert-fio38-c
  # - -cert-flp30-c # not an alias with clang-tidy-18 yet
  - -cert-flp37-c
  - -cert-int09-c
  # - -cert-mem57-cpp # not an alias with clang-tidy-18 yet
  - -cert-msc24-c
  - -cert-msc30-c
  - -cert-msc32-c
  - -cert-msc33-c
  # - -cert-msc50-cpp # not an alias with clang-tidy-18 yet
  # - -cert-msc51-cpp # not an alias with clang-tidy-18 yet
  - -cert-msc54-cpp
  - -cert-oop11-cpp
  - -cert-oop54-cpp
  # - -cert-oop57-cpp # not an alias with clang-tidy-18 yet
  # - -cert-oop58-cpp # not an alias with clang-tidy-18 yet
  - -cert-pos44-c
  - -cert-pos47-c
  - -cert-sig30-c
  - -cert-str34-c
  - -cppcoreguidelines-avoid-c-arrays
  - -cppcoreguidelines-avoid-magic-numbers
  - -cppcoreguidelines-c-copy-assignment-signature
  - -cppcoreguidelines-explicit-virtual-functions
  - -cppcoreguidelines-macro-to-enum
  - -cppcoreguidelines-narrowing-conversions
  - -cppcoreguidelines-noexcept-destructor
  - -cppcoreguidelines-noexcept-move-operations
  - -cppcoreguidelines-noexcept-swap
  - -cppcoreguidelines-non-private-member-variables-in-classes
  - -cppcoreguidelines-use-default-member-init
  # - -fuchsia-header-anon-namespaces # not an alias with clang-tidy-18 yet
  # - -fuchsia-multiple-inheritance # not an alias with clang-tidy-18 yet
  # - -google-build-namespaces # not an alias with clang-tidy-18 yet
  - -google-readability-braces-around-statements
  # - -google-readability-casting # not an alias with clang-tidy-18 yet
  - -google-readability-function-size
  - -google-readability-namespace-comments
  - -hicpp-avoid-c-arrays
  - -hicpp-avoid-goto
  - -hicpp-braces-around-statements
  - -hicpp-deprecated-headers
  - -hicpp-explicit-conversions
  - -hicpp-function-size
  - -hicpp-invalid-access-moved
  - -hicpp-member-init
  - -hicpp-move-const-arg
  - -hicpp-named-parameter
  - -hicpp-new-delete-operators
  - -hicpp-no-array-decay
  - -hicpp-no-malloc
  - -hicpp-noexcept-move
  - -hicpp-special-member-functions
  - -hicpp-static-assert
  - -hicpp-undelegated-constructor
  - -hicpp-uppercase-literal-suffix
  - -hicpp-use-auto
  - -hicpp-use-emplace
  - -hicpp-use-equals-default
  - -hicpp-use-equals-delete
  - -hicpp-use-noexcept
  - -hicpp-use-nullptr
  - -hicpp-use-override
  - -hicpp-vararg
  - -llvm-else-after-return
  - -llvm-qualified-auto

# clang-analyzer checks are not always reliable.
WarningsAsErrors: '*,-clang-analyzer-*'

HeaderFilterRegex: '(app|lib)/'
FormatStyle: file

CheckOptions:
  ### Readability Naming Identifiers ###
  # These aim to use the more general options if possible.
  # E.g., I want functions and methods to follow the same convention.
  # So only specify the setting for function (which is then also applied for methods).
  # Only when a specialization is required (e.g. class vs struct member suffixes),
  # the more specialized option should be set as well.

  # Types (and Type-like) identifiers
  - key: readability-identifier-naming.ClassCase
    value: 'CamelCase'
  - key: readability-identifier-naming.EnumCase
    value: 'CamelCase'
  - key: readability-identifier-naming.UnionCase
    value: 'CamelCase'
  - key: readability-identifier-naming.TemplateParameterCase
    value: 'CamelCase'
  - key: readability-identifier-naming.TypeAliasCase
    value: 'CamelCase'
  - key: readability-identifier-naming.TypeAliasIgnoredRegexp
    value: '.*type|.*iterator|.*pointer|.*reference|.*value|[fdubsi][0-9]+'
  - key: readability-identifier-naming.TypedefCase # likely only used in C
    value: 'CamelCase'
  - key: readability-identifier-naming.TypedefIgnoredRegexp
    value: '[fdubsi][0-9]+|bool'

  ### Functions ###
  - key: readability-identifier-naming.FunctionCase
    value: 'lower_case'

  ### Local variables and parameters ###
  - key: readability-identifier-naming.ParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'

  ### Global / namespace stuff ###
  - key: readability-identifier-naming.NamespaceCase
    value: 'lower_case'
  - key: readability-identifier-naming.MacroDefinitionCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value: '.+_H_'
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: 'g_'
  - key: readability-identifier-naming.GlobalVariableCase
    value: 'lower_case'

  ### Data members ###
  - key: readability-identifier-naming.MemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.PrivateMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.ProtectedMemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: '_'

  ### Constants ###
  - key: readability-identifier-naming.EnumConstantCase
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.GlobalConstantCase # affects class constants
    value: 'UPPER_CASE'
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: 'UPPER_CASE'

  ### Miscellaneous ###
  - key: bugprone-easily-swappable-parameters.ModelImplicitConversions
    value: false
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true
  - key: cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
    value: false
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'a|b|c|i|j|k|p|x|y|z'
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;3;10;100;255'
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true

...
